/***********************************************************************
 * 
 *     This file is part of gRecipes.
 *
 *     gRecipes is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     gRecipes is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 * 
 *     You should have received a copy of the GNU General Public License
 *     along with gRecipes.  If not, see <http://www.gnu.org/licenses/>.
 * 
 **********************************************************************/

body
{
  background-image: url(/img/bg.gif);
}

h3
{
  margin-bottom: 10px;
}

#content
{
  width: 500px;
  border: black solid 1px;
  border-radius: 10px;
  background: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

#logo
{
  float:right;
  background-image:url(/img/grecipe-128.png);
  width:128px;
  height:128px;
}

button, label, input[type="checkbox"]
{
  cursor: pointer;
}

button[disabled] {
  cursor: default;
}
